.audio-controls {
    position: fixed;
    top: 18px;
    right: 50px;
    z-index: 1000;
}
.audio-controls img {
    cursor: pointer;
    display: none;
}
.audio-controls #bgmon {
    display: block;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    text-align: center;
    padding: 10px;
       position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000;

}

header h1 {
    margin-bottom: 10px;
}

nav{
    display: flex;
}

nav ul {
    width: 60%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .img{
    width: 20%;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 20px;
}

nav ul li a:hover {
    background-color: gray;
    text-shadow: 0 0 10px #f9cf80,0 0 20px #f9cf80,0 0 40px #f9cf80;
}

nav ul li.active a {
    background-color: gray;
    transition: background-color 0.3s ease;
    text-shadow:0 0 10px #f9cf80, 0 0 20px #f9cf80, 0 0 40px #f9cf80
}

#header-logo {
    display: block;
    margin-left: 20px;
}
.logo-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.city {
    width: 100%;
}

.city__list {
    overflow: hidden;
}

.city__list-item {
    position: relative;
    width: 100%;
    height: 260px;
    background: center no-repeat;
    background-size: 100% auto;
    cursor: pointer;
    overflow: hidden;
}

.city__list-item::before {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.city__list-item:hover:not(.city__list-char)::before {
    background: none;
}

.city__list-bg {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    block-size: 100% auto;
    transition: transform 0.4s 0s ease-out;
    background-size: cover;
}

.city__list-item a,
.city__list-item p {
    display: inline-block;
    position: relative;
    z-index: 3;
    font-size: 36px;
    color: #fff;
    line-height: 260px;
    width: 100%;
    height: 260px;
    background: url(../img/宝石.png) center no-repeat;
    background-size: 132px;
    text-align: center;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    margin: 0 !important;
    overflow: hidden;
}

.city__list p::after {
    position: absolute;
    bottom: 91px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    content: '';
    width: 210px;
    height: 10px;
    background: url(../img/边框.png) center no-repeat;
    background-size: 210px 10px;
    opacity: 0;
}

.city__list-item:hover .city__list-bg {
    transform: scale(1.1);
}

.city__list-item:hover p::after,
.city__list-item:hover a::after {
    opacity: 1;
}

.city__list-item .city__list-char {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: calc(50% + 360px) 50%;
    background-size: 960px 260px;
    opacity: 0;
    transition: all 0.2s 0s ease-in;
    border: #fff solid 6px;
    box-sizing: border-box;
}

.city ul li:hover .city__list-char {
    opacity: 1;
}

.city__list-item3 {
    background-image: url(../img/lastcontinue.jpg);
    background-size: cover;
}

.city__list-item--disable {
    pointer-events: none;
}
